/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-card {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
}
.full-width {
  width: 100%;
}

table {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.mat-sort-header-container {
  justify-content: center;
}
.home mat-radio-button label {
  height: 15em !important;
  width: 15em !important;
  border: 1px solid white;
  border-radius: 5%;
  padding: 1em;
  align-items: flex-end !important;
}
.home mat-radio-button {
  background-size: 10em 10em;
  background-repeat: no-repeat !important;
  background-position: center;
}
.home mat-radio-button label:hover {
  border-color: #3f51b5;
}
.counter{
  width:4.7em;
}