<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="alert alert-primary">
      <div class="align-middle" ><span>During this pandemic This application is one step forward for helping people in buying their basic necessities while 
        maintaining social distancing. This app will help people placing basic necessity or grocery items orders to their local nearby shops and getting it delivered at home or getting it ready for pickup.
        For small scale shopkeepers who do not have their own website and order management system this application will work as boon. Because during this lockdown and limited hours allowance for shopping they are unable make their sale and consumers are also not able to step out and do the necessary purchases.</span></div>
  </div>
</div>