<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="alert alert-primary">
        <h5 class="">Do you need any help?</h5>
        <div class="align-middle" ><span>We are working round the clock for your service and we try to respond your query as soon as possible. you can contact us at rationwala@gmail.com</span></div>
        <h5>Do you want to work with us?</h5>
        <div class="align-middle" ><span>If you want to register with us as a Seller please drop your store details at  with subject rationwala@gmail.com:- request for registration.</span></div>  
    </div>
</div>